h1 {
  color:red;
  font-family:garamond;
  font-size:24px;
}

h2 {
  color:black;
  font-family:garamond;
  font-size:36px;
}

h3 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h4 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h6 {
  color:red;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h5 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}

p{
  color: #340E6E;
  font-family:verdana;
  font-size:12px;
  text-align: center;
  line-height:2em;
  background-color:white;
  padding:5px;
}

p3 {
  color: #011a03;
  font-family:verdana;
  font-size:14px;
  text-align: center;
  line-height:2em;
  background-color:white;
  padding:5px;
}
p4 {
  color: #0c011c;
  font-family:Comic Sans;
  font-size:14px;
  text-align: center;
  line-height:3em;
  background-color:white;
  padding:5px;
}
