h1 {
  color:red;
  font-family:garamond;
  font-size:24px;
}

h2 {
  color:black;
  font-family:garamond;
  font-size:36px;
}

h3 {
  color:black;
  font-family:garamond;
  font-size:20px;
}
h4 {
  color:black;
  font-family:garamond;
  font-size:20px;
}
h6 {
  color:black;
  font-family:garamond;
  font-size:20px;
}
h5 {
  color:black;
  font-family:garamond;
  font-size:20px;
}

p{
  color: #340E6E;
  font-family:verdana;
  font-size:10px;
  text-align: center;
  line-height:2em;
  background-color:white;
  padding:5px;
}
