h1 {
  color:red;
  font-family:garamond;
  font-size:24px;
}

h2 {
  color:black;
  font-family:garamond;
  font-size:36px;
}

h3 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h4 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h6 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}
h5 {
  color:black;
  font-family:garamond;
  font-size:20px;
  text-align: center;
}

p1{
  color: #340E6E;
  font-family:verdana;
  font-size:12px;
  text-align: center;
  line-height:2em;
  background-color:white;
  padding:5px;
}

{
  p2{
  color: #10042e;
  font-family:verdana;
  font-size:13px;
  text-align: center;
  line-height:4em;
  background-color:white;
  padding:4px;
    
}    
