"background"; black

p{
  color: White;
  font-family:verdana;
  font-size:16px;
  text-align:center;
  line-height:2em;
  background-color:black;
  padding:5px;
}

h1{
  color: Purple;
  font-family:Comic sans;
  font-size: 20px;
  text-align:left;
  padding:10px;
  
}
